body {
  background: url(../images/Everest_bw.jpg) #626262 25% 20% no-repeat;

  font-family: 'Open Sans', sans-serif;
  font-size: 24px;

  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

.ChartFrame {
  width: 95%;
  height: 97%;
  background-color: rgba(255, 255, 255, 0.75);
}

.HTMLFrame {
  width: 95%;
  height: 97%;
  background-color: rgba(255, 255, 255, 0.75);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
